<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <section class="container-fluid">
        <a href="#" class="navbar-brand">Book Manager</a>

        <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <article class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/search">Search</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/books">Books</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/tags">Tags</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a class="nav-link" routerLink="/auth">Sign Up/Login</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="dropdown me-1" *ngIf="isAuthenticated">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Manage Data</a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
                        <li><a style="cursor: pointer;" class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
                <li [ngClass]="{'mt-2':collapsed, 'mt-1':!collapsed, 'me-1':true, 'ms-2':collapsed}" *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
            </ul>
        </article>
    </section>
</nav>