<section class="row">
    <article class="col-xs-12">
        <button class="btn btn-warning">New book</button>
    </article>
</section>

<hr>

<section class="row">
    <article class="col-xs-12">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action clearfix" *ngFor="let book of books">
                <aside class="float-start">
                    <h4>{{book.name}}</h4>
                    <span class="fa fa-star" [ngClass]="{'checked':book.rating > 0}"></span>
                    <span class="fa fa-star" [ngClass]="{'checked':book.rating > 1}"></span>
                    <span class="fa fa-star" [ngClass]="{'checked':book.rating > 2}"></span>
                    <span class="fa fa-star" [ngClass]="{'checked':book.rating > 3}"></span>
                    <span class="fa fa-star" [ngClass]="{'checked':book.rating > 4}"></span>
                    <p>{{book.description}}</p>
                </aside>
            
                <span class="float-end">
                    <img [src]="book.imagePath" alt="illustration of {{book.name}}" class="img-fluid">
                </span>
            </a>
        </div>
        <app-book-item></app-book-item>
    </article>
</section>