<section class="row">
    <article class="col-xs-12">
        <button class="btn btn-success">New book</button>
    </article>
</section>

<section class="row">
    <article class="col-xs-12">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action clearfix">
                <aside class="float-start">
                    <h4>Book Name</h4>
                    <p class="fw-bold">Rating: 4/5</p>
                    <p>Description</p>
                </aside>

                <span class="float-end">
                    <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1543945452i/43125355.jpg" class="img-responsive" style="max-height: 200px;">
                </span>
            </a>
            <app-book-item></app-book-item>
        </div>
    </article>
</section>