<section class="row">
    <article class="col-xs-12">
        <form autocomplete="off" (ngSubmit)="onAddTag(tagForm)" #tagForm="ngForm">
            <aside class="row">
                <fieldset class="col-sm-4">
                    <label for="name">Name</label>
                    <input type="text" 
                        id="name" 
                        class="form-control" 
                        [ngClass]="{'is-invalid': tagExists}" 
                        name="tagName" 
                        ngModel required>
                    <footer class="invalid-feedback">Tag already exists!</footer>
                </fieldset>
            </aside>

            <aside class="row mt-3">
                <footer class="col-xs-12">
                    <button type="submit" class="btn btn-warning" [disabled]="!tagForm.valid">Add</button>
                    <button type="button" class="btn btn-danger ms-2">Delete</button>
                    <button type="button" class="btn btn-secondary ms-2" title="Search for books with this tag">Search</button>
                    <button type="button" class="btn btn-secondary ms-2">Clear</button>
                </footer>
            </aside>
        </form>
    </article>
</section>
