<section class="row">
    <article class="col-xs-12 col-md-6 offset-md-3">
        <h3 class="mb-3">{{isLoginMode ? "Login to account" : "Create account"}}</h3>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group mb-3">
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    placeholder="Email" 
                    name="email" 
                    ngModel 
                    required
                    email
                >
            </div>
            <div class="form-group mb-3">
                <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Password" 
                    name="password" 
                    ngModel 
                    minlength="8"
                    required
                >
            </div>
            <button type="submit" class="btn btn-warning" [disabled]="!authForm.valid">
                {{isLoginMode ? "Login" : "Sign up"}}
            </button>
            <button type="button" class="btn btn-secondary ms-2" (click)="onSwitchMode()">
                Switch to {{isLoginMode ? "sign up" : "login"}}
            </button>
        </form>
    </article>
</section>