<form class="row g-3" autocomplete="off">
    <fieldset class="col-sm-7">
        <input type="text" id="search-bar" class="form-control" placeholder="Search" #searchQuery>
    </fieldset>

    <fieldset class="col-sm-2">
        <select class="form-select" [ngClass]="{'is-invalid':invalidField}" #searchField>
            <option selected value="0">Search field...</option>
            <option value="1">Name</option>
            <option value="2">Author</option>
            <option value="3">Tags</option>
        </select>
        <footer class="invalid-feedback">
            Please select a valid field.
        </footer>
    </fieldset>

    <fieldset class="col-sm-2">
        <select class="form-select" [ngClass]="{'is-invalid':invalidFilter}" #searchFilter>
            <option selected value="0">Filter by...</option>
            <option value="1">Recently added &uarr;</option>
            <option value="2">Recently added &darr;</option>
            <option value="3">Rating &uarr;</option>
            <option value="4">Rating &darr;</option>
        </select>
        <footer class="invalid-feedback">
            Please select a valid filter.
        </footer>
    </fieldset>

    <fieldset class="col-sm-1">
        <button type="button" class="btn btn-warning" (click)="onSubmitSearch()">Submit</button>
    </fieldset>
</form>
