<section class="row mb-3">
    <article class="col-xs-10">
        <app-search-edit></app-search-edit>
    </article>
</section>

<hr>

<section class="row mb-3">
    <article class="col-xs-10">
        <aside class="list-group">
            <app-search-item
                *ngFor="let bookElement of searchedBooks;" 
                [book]="bookElement">
            </app-search-item>
                
            <p *ngIf="noSearchFound">No books found.</p>
        </aside>
    </article>
</section>
