<section class="row">
    <article class="col-xs-12">
        <img src="" alt="" class="image-fluid">

    </article>
</section>

<section class="row">
    <article class="col-xs-12">
        <h2>Book name</h2>
    </article>
</section>

<section class="row">
    <article class="col-xs-12">
        <aside class="dropdown">
            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">Manage book</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Export tags to tag list</a></li>
                <li><a class="dropdown-item" href="#">Edit book</a></li>
                <li><a class="dropdown-item" href="#">Delete book</a></li>
            </ul>
        </aside>
    </article>
</section>

<section class="row">
    <article class="col-xs-12">
        <p class="fw-bold">Description:</p>
    </article>
</section>

<section class="row">
    <article class="col-xs-12">
        <p class="fw-bold">Tags:</p>
    </article>
</section>